extends layout

block content
  h1= title
  - let results = [ { Bank_Name:"SBI", Account_Type:"Savings", Balance:25000 }, { Bank_Name:"UNION", Account_Type:"Salaried", Balance:85000 }, { Bank_Name:"RBL", Account_Type:"Current", Balance:345000 } ];

  div.container-fluid
    div.row
      each item,index in results
        div.col-sm-2(onclick=`buy(${index})`)
          h3 #{item.Bank_Name}
          p #{item.Account_Type}
          p #{item.Balance}
  script.
    function buy(index){
      alert(`You have purchased item ${index}`);
    }